apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: paymentservice
    spec:
      template:
        spec:
          containers:
          - name: server
            image: paymentservice:prod
resources:
- ../../../microservices-demo/kubernetes-manifests/paymentservice.yaml
namespace: ms-demo