apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: checkoutservice
    spec:
      template:
        spec:
          containers:
          - name: server
            resources:
              requests:
                cpu: 1m

resources:
- ../../../microservices-demo/kubernetes-manifests/checkoutservice.yaml
namespace: ms-demo