apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: recommendationservice
    spec:
      template:
        spec:
          containers:
          - name: server
            resources:
              limits:
                memory: 5Mi
              requests:
                memory: 5Mi
resources:
- ../../../microservices-demo/kubernetes-manifests/recommendationservice.yaml
namespace: ms-demo