apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: paymentservice
    spec:
      template:
        spec:
          containers:
          - name: server
            resources: 
              requests:
                memory: 1400Mi
              limits: 
                memory: 1500Mi

resources:
- ../../../microservices-demo/kubernetes-manifests/paymentservice.yaml
namespace: ms-demo