apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: adservice
    spec:
      template:
        spec:
          containers:
          - name: server
            env:
              - name: PORT
                value: "9555"
              - name: JAVA_OPTS
                value: "-Xms1500M -Xmx2500M  -XX:MaxRAM=4000M"
resources:
- ../../../microservices-demo/kubernetes-manifests/adservice.yaml
namespace: ms-demo