apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: shippingservice
    spec:
      template:
        spec:
          containers:
          - name: server
            resources:
              limits:
                cpu: 11
              requests:
                cpu: 10
resources:
- ../../../microservices-demo/kubernetes-manifests/shippingservice.yaml
namespace: ms-demo