apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: cartservice
    spec:
      template:
        spec:
          containers:
          - name: server
            resources: 
              limits: 
                cpu: null
                memory: null
              requests: 
                cpu: null
                memory: null

resources:
- ../../../microservices-demo/kubernetes-manifests/cartservice.yaml
namespace: ms-demo