apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: frontend
    spec:
      template:
        spec:
          containers:
          - name: server
            resources:
              limits:
                cpu: 700m

resources:
- ../../../microservices-demo/kubernetes-manifests/frontend.yaml
namespace: ms-demo