apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: productcatalogservice
    spec:
      template:
        spec:
          containers:
          - name: server
            resources: 
              limits: 
                cpu: 300m

resources:
- ../../../microservices-demo/kubernetes-manifests/productcatalogservice.yaml
namespace: ms-demo